<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <script src="app\library\angular.min.js"></script>
    <script src="app\app.js"></script>
</head>
<body>
    <div ng-controller="myappcontroller">
        <input typ="text" ng-model="s">
        <ul>
            <li ng-repeat="datas in data | filter:s ">
                {{datas | uppercase }}
            </li>
        </ul>

    </div>
    
</body>
</html>